body {
  background-color: rgb(233 239 250);
}

.contetnBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 30px;
}

.textHeader {
  width: 55%;
  display: flex;
  justify-content: center;
}

.content-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expensesTextInput {
  width: 25vw;
  height: 30px;
}

.expensesNumberInput {
  width: 10vw;
  height: 30px;
}

button {
  height: 35px;
}

button:hover {
  background-color: rgb(192, 185, 185);
}

.total {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.div-container-text {
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 20px;
}

img {
  width: 24px;
  height: 21px;
}

.text-in-container {
  width: 150px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.expenses-in-container {
  width: 150px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

#content-page {
  width: 70vw;
  height: 300px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 260px) and (max-width: 771px) {
  .textHeader {
    width: 81%;
  }
  #content-page {
    width: 80%;
  }
  .div-container-text {
    width: 100%;
  }

  .text-in-container {
    width: 100px;
    font-size: 13px;
  }
  .expenses-in-container {
    width: 120px;
    font-size: 13px;
  }
}

@media (min-width: 260px) and (max-width: 500px) {
  .textHeader {
    flex-direction: column;
    align-items: center;
  }
  .expensesNumberInput,
  .expensesTextInput {
    width: 50vw;
  }
  .colum {
    display: flex;
    flex-direction: column;
  }
  .text-in-container {
    width: 100px;
    font-size: 13px;
  }
  .expenses-in-container {
    width: 120px;
    font-size: 13px;
  }
  .date-in-container {
    font-size: 13px;
  }
}

@media (min-width: 260px) and (max-width: 480px) {
  .text-in-container {
    width: 80px;
  }
  .expenses-in-container {
    width: 80px;
  }
}

@media (min-width: 260px) and (max-width: 370px) {
  .text-in-container {
    width: 70px;
    font-size: 10px;
  }

  .expenses-in-container {
    width: 72px;
    font-size: 10px;
  }

  .count {
    font-size: 13px;
  }

  .date-in-container {
    font-size: 10px;
  }

  img {
    width: 10px;
    height: 10px;
  }
}
